{% extends "main.twig" %}

{% block page_title %}Details{% endblock %}

{% block main_content %}
      <section class="jumbotron text-center bg-secondary">
        <div class="container">
          <h1 class="jumbotron-heading">Pink Panthers Details</h1>
          <p class="lead text-muted">
            To Do... To Do... To Do, To Do, To Do, To Do, To Dooooooo
          <p>
          <p class="lead text-muted">
            Thank you for being a great class and for your feedback. Best of luck on this test and your next classes! Keep washing your hands and hopefully we'll see other back at school! You are an amzing group :) Keep it up.
            <br>
            ----
            <br>
            At first I hated php because of how it was embedded into html. Coding with spaghetti was a mess.<br>

            After you introduced twig and f3, I love php again.<br>

            Thanks Steph,<br>

            See you again.
          <p>
          </div>
      </section>
        
{% endblock %}